<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="wikipedia.Listener"></listener>
</listeners>
    <test name="Validate blank page">
        <classes>
            <class name="wikipedia.testsuites.ValidatePage"/>
        </classes>
    </test>      
     <test name="Make appointment">
        <classes>
            <class name="wikipedia.testsuites.Appointment"/>
        </classes>
    </test>  
</suite>
