<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="4" parallel="tests" >
    <listeners>
        <listener class-name="extentReportListener.TestNGListener"></listener>
    </listeners>


    <test name="Make appointment">
        <classes>
            <class name="wikipedia.testsuites.Appointment">
                <methods>
                    <include name="testDP" />
                    <exclude name="appointmentSchedule" />
                </methods>
            </class>
        </classes>
    </test>
</suite>
